!.gitignore

pom.xml.releaseBackup
release.properties

*.class
!CompiledWithJDK8.class
!module-info.class
# Checked-in compiler-specific .class test fixtures for type-annotation handling (#897 / #926)
!**/src/test/resources/io/github/classgraph/issues/issue897/ecjenum/*.class
!**/src/test/resources/io/github/classgraph/issues/issue897/fieldcrash/*.class
!**/src/test/resources/io/github/classgraph/issues/issue926/*.class

target/
bin/
tmp/
lib/
*.tmp
*.bak
*~
hs_err_pid*

*.iml
.metadata
.settings/
.loadpath
.externalToolBuilders/
*.launch
.idea
.cache*

TODO-local
