!.gitignore

pom.xml.releaseBackup
release.properties

*.class
!CompiledWithJDK8.class
!module-info.class

/target/
bin/
tmp/
lib/
*.tmp
*.bak
*~
hs_err_pid*

*.iml
.metadata
.settings/
.loadpath
.externalToolBuilders/
*.launch
.idea
.cache*

TODO-local
